.section-title{
    font-size:1.25rem;
    font-weight:800;
    color:#44403c;
    margin-bottom:8px;
    border-bottom:2px solid #d6d3d1;
    padding-bottom:4px;
}

.section-title-no-line{
    font-size:1.25rem;
    font-weight:800;
    color:#44403c;
    padding-bottom:4px;
}

